.marker {
  border-radius: 50%;
  opacity: 0.6;
  transition: 1s linear;
  position: relative;
  animation: bounce 0.8s infinite alternate;
}

@keyframes bounce {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.5);
  }
}

.gl {
  margin: auto;
  width: 70%;
  position: relative;
  height: 400px;
  overflow: hidden;
}

.tooltip {
  transition: 0.5s ease-in-out;
  background-color: #54e467;
  z-index: 1;
  opacity: 1;
  width: fit-content;
  color: whitesmoke;
  border-radius: 0 0 5px 0;
  padding: 2px 5px;
  position: absolute;
  width: fit-content;
  top: 0;
  left: 0;
  overflow: hidden;
}

.tooltip div {
  display: block;
  white-space: nowrap;
  font-size: 12px;
  text-transform: capitalize;
  color: rgb(255, 255, 255);
}

@media (max-width: 680px) {
  .gl {
    width: 100%;
    height: 300px;
  }
}
